<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<!-- Title -->
	<title>Bullet Tester : MANUAL</title>
<!-- Meta -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="x-ua-compatible" content="IE=edge" />
	<meta name="theme-color" content="#ffffff">
	<meta http-equiv="cleartype" content="on">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes ,minimal-ui">
<!-- Font -->	   
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700&display=swap&subset=latin-ext,thai">
<!-- Template CSS -->	      
	<link rel="stylesheet" type="text/css" href="/css/resetcss.css" />
	<link rel="stylesheet" type="text/css" href="/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main-style.css" />
<!-- include File -->	
<!--
<script>
	$(".btn-tab").click(function(){
		$(this).toggleClass("active");
	});
</script>
-->
</head>
<body class="manual">
	
	<!-- Header Start -->	 	
		<div  class="b-logo-main">
			<div class="logo">
				<img src="/images/logo.svg" alt="logo" >
			</div>
		</div>
	<!-- Header End -->
	
	<!-- Content Start -->	 	
	<div class="b-content">
		<div class="b-tab-main">
			<div class="tab">
				<a class="btn-tab" href="/auto">Auto</a>
				<a class="btn-tab active" href="/manual">Manual</a>
			</div>
		</div>
		<div class="b-btn-main">
			<div class="b-btn">
				<a class="home"><div>Home</div></a>
				<a href="/runpy?file=plus.py"><div>jog<br>-</div></a>
				<a href="/runpy?file=minus.py"><div>jog <br>+</div></a>
			</div>
		</div>
	</div>
	<!-- Content End -->	 	
	
	<!-- Footer Start -->
		<div  class="b-credit-main">
			<div class="credit">
				<img src="/images/credit.svg" alt="credit" >
			</div>
		</div>
	<!-- Footer End -->
	
</body>
</html>